<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <select class="form-control" name="country" [(ngModel)]="countryDrop">
                <option hidden [value]="undefined"  selected>Select Country </option> 
                <option *ngFor="let country of countries" [value]="country.id">{{country.text}}</option> 
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <select class="form-control" name="year" [(ngModel)]="yearDrop">
                <option hidden [value]="undefined"  selected>Select year </option> 
                <option *ngFor="let year of years" [value]="year">{{year}}</option> 
            </select>
        </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary" (click)="GetHoliday(countryDrop,yearDrop)">Click</button>
    </div>
</div>
